.header {
    grid-area: h;
    background-color: #FFFFFF;
    z-index: 99;
    opacity: 0.8;
    height: 60px;
}

.header img {
    width: 100px;
}
.name{
    color:#2F65B9;
    background: none;
    position: absolute;
    top:-6px;
    margin-left: 100px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
